{% extends 'base.html' %}

{% block title %}
<title>Сотрудники</title>
{% endblock %}

{% block content %}
<h1>Сотрудники</h1>
  <table border="1">
   <caption>Таблица сотрудников</caption>
   <tr>
    <th> ИД </th>
    <th> ФИО </th>
    <th> Должность </th>
    <th> ИД департамента </th>
   </tr>
   {% for employees in employees_list %}
   <tr>
       <td>{{ employees.employees_id }}</td><td>{{ employees.fio }}</td>
       <td>{{ employees.position }}</td><td>{{ employees.department_id }}</td>
   </tr>
   {% endfor %}
  </table>
{% endblock %}