{% extends 'base.html' %}

{% block title %}
<title>Клиенты</title>
{% endblock %}

{% block content %}
<div align="center">
    <h1>Клиенты</h1>
    <a href="/create_cus" class="floating-button">Cоздать</a>
    <table border="1">
       <caption>Таблица клиентов</caption>
       <tr>
        <th> ИД </th>
        <th> ФИО </th>
        <th> Номер телефона </th>
        <th> Почта </th>
        <th> Подписка </th>
        <th> </th>
        <th> </th>
       </tr>
       {% for customer in customers_list %}
       <tr>
           <td>{{ customer.customer_id }}</td><td>{{ customer.fio }}</td>
           <td>{{ customer.number_phone }}</td><td>{{ customer.email }}</td>
           <td>{{ customer.is_subscribed }}</td>
           <td><a href="/edit_cus/{{ customer.customer_id }}">Редактировать</a></td>
           <td><a href="/delete_cus/{{ customer.customer_id }}">Удалить</a></td>
       </tr>
       {% endfor %}
    </table>
</div>
{% endblock %}